.play-button{
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;

    .color-primary{
        color:rgba($color: rgb(24, 170, 255), $alpha: 1.0);
    }
}

circle.disable-anim{
    transition-duration: 0s !important;
}