.task-paper{
    width: 100%;
    min-height: 50px;
    margin: 10px auto;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.task-container{
    margin: auto;
    width: fit-content;
    padding: 5px;
    height: 100%;
}

.task-item{
    align-content: center;
    text-align: center;
}