.quote-container {
    margin: auto;
    margin-top: 4rem;
    max-width: 50%;
    color: white;
    text-align: center;
    
}

.quote-text {
    font-weight: 450 !important;
    font-size: 120% !important;   
    font-style: italic;
    text-shadow: 10px 10px 15px rgba($color: #000, $alpha: 0.5) !important;
}