.quote-container {
    margin: auto;
    margin-top: 1.2rem;
    max-width: 50%;
    color: white;
    text-align: center;
    
}

.quote-text {
    font-weight: 450 !important;
    font-size: 1.2rem !important;   
    font-style: italic;
    text-shadow: 3px 3px 15px rgba($color: black, $alpha: 0.5) !important;
}